/* stylelint-disable selector-class-pattern */
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).day:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).month:hover,
.vdp-datepicker__calendar .cell:not(.blank):not(.disabled).year:hover {
  border: 1px solid $primary !important;
  border-radius: 3px;
}

.vdp-datepicker__calendar .cell.selected {
  background: $primary !important;
  border-radius: 3px;
  color: $white;
}
/* stylelint-enable selector-class-pattern */
