.slip {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 99999;
  width: 420px;
  max-width: 420px;
  min-width: 420px;
}

.slip-header {
  background-color: $primary;
  transition: background-color 0.3s ease-in-out;

  &.mini {
    background-color: $middle-gray;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: auto !important;
  }
}

.slip-container {
  background-color: $dark-gray;
  transition: height 0.3s ease;
  height: initial;

  &.mini {
    height: 0 !important;
    overflow: hidden !important;
  }

  & > .limiter {
    height: auto;
    max-height: 260px;
    overflow-y: auto;
    margin-top: 1.125rem;

    & > .game-container {
      background-color: darken($primary, 10%);
      max-height: 64px;
      position: relative;
      padding-right: 2.25rem !important;

      & > .slip-close {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $primary;
        color: $white;
        transition: opacity 0.3s ease;
        padding: 0 0.35rem;
        opacity: 0.9;

        &:hover {
          cursor: pointer;
          background-color: $accent;
          opacity: 1;
        }
      }

      &:last-child {
        border-bottom: 0 !important;
      }
    }
  }
}

.border-light {
  border-color: $middle-gray !important;
}

.border-dark {
  border-color: darken($primary, 15%) !important;
}

.mover {
  top: 0;
  left: 0;
  margin: 1rem 1.25rem 0 0;

  &:hover {
    cursor: pointer;
  }
}
